* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --text-color: #e1e1e6;

  --primary-color: #092d38;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1120px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8.7rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  background-color: #06181c;
  color: #7c7c8a;
  height: 4.8rem;
  width: 46.2rem;
  padding: 0 1.6rem;
}

.btn__favoritar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  background-color: #065e7c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  height: 4.8rem;
  width: 17rem;
  border: none;
  padding: 0 3.2rem;

  cursor: pointer;
}

.btn__favoritar:hover {
  background-color: #fff;
  color: #065e7c;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: bold;
  padding: 1.6rem 4rem;
}

table th:first-child {
  border-top-left-radius: 0.6rem;
}

table th:last-child {
  border-top-right-radius: 0.6rem;
}

table tr:nth-child(even) {
  background: #06181c;
}

table tr:last-child {
  border-bottom-left-radius: 0.6rem;
}

table tr:last-child {
  border-bottom-right-radius: 0.6rem;
}

table td {
  padding: 1.6rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

td.user a span {
  font-weight: normal;
}

td .remove {
  background: none;
  border: none;

  color: #f75a68;
  font-weight: bold;
}
